---
title: 'Montano Plumbing & Contracting LTD.'
description: 'Your Trusted Partner for Renovations and Plumbing'
preloadImg: '/assets/images/landing.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}

    <!-- <link rel="stylesheet" href="/assets/css/local-critical.css" /> -->
     <style>

/*-- -------------------------- -->
<---       Canada Banner        -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  .canada-banner {
    --canadaBannerHeight: 80px;
    position: absolute;
    top: var(--canadaBannerHeight);
    z-index: 2;
    width: 100%;
    display: grid;
    place-items: center;
    background: var(--canada-banner-bg);
    padding: 0.75rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 3px 2px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  .canada-banner .cs-container {
    grid-area: 1/1;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
  }
  .canada-banner .cs-container img {
    width: 15%;
    height: auto;
    place-self: end;
  }
  .canada-banner .cs-container .content-desktop {
    display: none;
  }
  .canada-banner .cs-container .cs-text {
    color: var(--bodyTextColorWhite);
    width: fit-content;
    font-size: 0.9rem;
    text-wrap: balance;
    text-align: center;
  }
  .canada-banner .cs-container a {
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .canada-banner .cs-container a::after {
    content: "→";
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 35rem) {
  .canada-banner .cs-container img {
    width: 7%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 63.99rem) {
  .canada-banner {
    --canadaBannerHeight: 152px;
  }
}
@media only screen and (min-width: 64rem) {
  .canada-banner {
    --canadaBannerHeight: 167px;
  }
  .canada-banner .cs-container img {
    width: 5%;
  }
  .canada-banner .cs-container .content-mobile {
    display: none;
  }
  .canada-banner .cs-container .content-desktop {
    display: block;
  }
  .canada-banner .cs-container .cs-text {
    text-wrap: unset;
    text-align: center;
    max-width: unset;
  }
}
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
html,
body,
#carousel,
#carousel ul,
#carousel li {
  min-height: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
#debug {
  position: fixed;
  background: #fff;
  padding: 5px;
  color: #000;
  top: 0;
  left: 0;
  z-index: 1337;
}
#carousel {
  background: silver;
  overflow: hidden;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
}
#carousel ul.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#carousel ul {
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
#carousel ul {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
#carousel li {
  float: left;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}
#carousel li h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
html,
body {
  margin: 0px;
  padding: 0px;
  background: url("");
}
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 150px;
  object-fit: cover;
}
.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  touch-action: pan-y;
  padding-top: 55px;
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 1;
}
.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.carousel-control.prev {
  left: 2%;
}
.carousel-control.next {
  right: 2%;
}
.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.carousel-bullet:hover {
  color: #aaaaaa;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}
@media only screen and (max-width: 768px) {
  .carousel {
    margin-top: 135px;
  }
  .carousel .carousel-inner {
    padding-top: 0;
  }
}
@media only screen and (min-width: 0rem) {
  #hero-1957 {
    /* removed at Tablet */
    min-height: 100dvh;
    padding: var(--sectionPadding);
    /* 200px - 300px - leaving extra space for the navigation */
    padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
    padding-right: clamp(1rem, 2.5vw, 1.25rem);
    /* 16px - 20px */
    padding-left: clamp(1rem, 2.5vw, 1.25rem);
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }
  #hero-1957 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-1957 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 34.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #hero-1957 .cs-topper {
    margin-bottom: 0.5rem;
    color: #fff;
  }
  #hero-1957 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5.975vw, 3.8125rem);
    margin-bottom: 1rem;
    color: #fff;
  }
  #hero-1957 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 2.5vw, 2.5rem) 0;
    color: #fff;
  }
  #hero-1957 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    padding: 0 1.5rem;
    background: #239bec;
    background: linear-gradient(280deg, #239bec 0%, #1055bc 50%, #185fc9 100%);
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1957 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1957 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1957 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1957 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(359deg, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 56.87%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1957 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1957 {
    min-height: auto;
  }
  #hero-1957 .cs-container {
    align-items: flex-start;
  }
  #hero-1957 .cs-content {
    text-align: left;
    margin-left: 0;
    align-items: flex-start;
  }
  #hero-1957 .cs-background:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 25.47%, rgba(0, 0, 0, 0) 50.01%);
  }
}
/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  #hero-1957 .cs-background {
    background: url("/assets/images/RENOVATIONHERO.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates the parallax effect */
    background-attachment: fixed;
  }
  #hero-1957 .cs-background img {
    display: none;
  }
}

     </style>

    <!-- <link rel="stylesheet" href="/assets/css/critical.css" /> -->

    <link
    rel="preload"
    href="/assets/css/local.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
    <link rel="stylesheet" href="/assets/css/local.css" />
    </noscript>

    <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}/assets/images/ogmontano.jpg"/>
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/ogmontano.jpg"/>

    <link
    rel="preload"
    as="image"
    href="/assets/images/m1.webp"
    media="(max-width: 600px)"
    fetchpriority="high"
    />
    <link
    rel="preload"
    as="image"
    href="/assets/images/1.webp"
    media="(min-width: 601px)"
    fetchpriority="high"
    />

    <link rel="preload"  fetchpriority="low" as="image" href="/assets/images/m2.webp" media="(max-width: 600px)">
    <link rel="preload" fetchpriority="low" as="image" href="/assets/images/2.webp" media="(min-width: 601px)">
    <link rel="preload" fetchpriority="low" as="image" href="/assets/images/m3.webp" media="(max-width: 600px)">
    <link rel="preload" fetchpriority="low" as="image" href="/assets/images/3.webp" media="(min-width: 601px)"> 
    <!-- <link rel="preload" as="image" href="/assets/images/m1.avif" media="(max-width: 600px)">
    <link rel="preload" as="image" href="/assets/images/1.avif" media="(min-width: 601px)">
    <link rel="preload" as="image" href="/assets/images/m2.avif" media="(max-width: 600px)">
    <link rel="preload" as="image" href="/assets/images/2.avif" media="(min-width: 601px)">
    <link rel="preload" as="image" href="/assets/images/m3.avif" media="(max-width: 600px)">
    <link rel="preload" as="image" href="/assets/images/3.avif" media="(min-width: 601px)"> -->

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}



<!-- <body> -->

<section class="canada-banner">
    <div class="cs-container">
        <!-- <img class="cs-img" decoding="async" src="/assets/images/canadian-flag.svg" width=100 height=50> -->
        <div class="content-mobile">
            <p class="cs-text">
                <!-- Fence or Deck? We’ll build it – you finance it! -->
                <!-- 🕒 Limited summer spots - -->
                Need Home Improvements? We Build It! Financing Available – Limited Summer Spots!
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNzEzNTcmbD0mcD1QemIwb1duaDZNemhEa3hkSTQ5Z1R3JnM9MCZ2PTE=/apply?slug=PBTFXw"
                target="_blank" rel="noopener"
                >
                Apply now!
            </a>
            </p>
        </div>

        <div class="content-desktop">
            <p class="cs-text">
            🚨 LIMITED SUMMER SPOTS for Fence & Deck Installations! 💰 Get it done now, pay later with easy financing. 👉
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNzEzNTcmbD0mcD1QemIwb1duaDZNemhEa3hkSTQ5Z1R3JnM9MCZ2PTE=/apply?slug=PBTFXw"
                target="_blank" rel="noopener"
                style="margin-right: 1ch"
                aria-label="Click here to get pre-approved!"
                >
                Click here
            </a>
             to get pre-approved!
            </p>
        </div>

    </div>
</section>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<h1 class="sr-only" style="display: none !important;">
    PLUMBING, HEATING, GASFITTING & RENOVATION. FOR EDMONTON AND SURROUNDING AREAS
</h1>

<div class="carousel">
    <div class="carousel-inner">


        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <!-- <img src="/assets/images/1.png"> -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m1.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/1.webp">
                <img decoding="async" decoding="async"loading="eager" src="/assets/images/1.webp" alt="services text and living room" aria-hidden="true" >
            </picture>

        </div>

        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m2.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/2.webp">
                <img decoding="async" decoding="async" loading="eager" src="/assets/images/2.webp" alt="services text and bathroom" aria-hidden="true" >
            </picture>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">

            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m3.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/3.webp">
                <img fetchpriority="high" decoding="async" loading="eager" src="/assets/images/3.webp" alt="services text and attic" aria-hidden="true" >
            </picture>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>

        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>

        </ol>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const slides = document.querySelectorAll('.carousel-open'); // Select all radio inputs
        let currentIndex = 0;

        function showNextSlide() {
            // Uncheck current slide and check the next one
            slides[currentIndex].checked = false;
            currentIndex = (currentIndex + 1) % slides.length; // Cycle through the slides
            slides[currentIndex].checked = true;
        }

        // Set the interval to 3 seconds for the slide change
        setInterval(showNextSlide, 3000);
    });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slides = document.querySelectorAll('.carousel-open');
            let currentIndex = 0;
            let startX;

            function showNextSlide() {
                slides[currentIndex].checked = false;
                currentIndex = (currentIndex + 1) % slides.length;
                slides[currentIndex].checked = true;
            }

            function showPreviousSlide() {
                slides[currentIndex].checked = false;
                currentIndex = (currentIndex - 1 + slides.length) % slides.length;
                slides[currentIndex].checked = true;
            }

            // Swipe detection
            document.querySelector('.carousel-inner').addEventListener('touchstart', (e) => {
                startX = e.touches[0].clientX;
            });

            document.querySelector('.carousel-inner').addEventListener('touchend', (e) => {
                const endX = e.changedTouches[0].clientX;
                if (startX > endX + 50) {
                    // Swipe left
                    showNextSlide();
                } else if (startX < endX - 50) {
                    // Swipe right
                    showPreviousSlide();
                }
            });
        });
        </script>

<!-- </body> -->




<section class="hero-446">
  <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number"></span>
                <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                    projects ranging from $2,000 to $100,000.</span> <br>
                <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
            </li>

        </ul>

</section>






<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1957">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">PLUMBING</span>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/plumbingserviceshero-min.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/plumbingserviceshero-min.webp">
                    <img decoding="async" loading="lazy" src="/assets/images/plumbingserviceshero-min.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">HEATING</span>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/HEATINGHERO.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/HEATINGHERO.webp">
                    <img decoding="async" loading="lazy" src="/assets/images/HEATINGHERO.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">GASFITTING</span>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/GASFITTINGHERO.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/GASFITTINGHERO.webp">
                    <img decoding="async" loading="lazy" src="/assets/images/GASFITTINGHERO.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="renovation/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">RENOVATION</span>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/kitchenrenov.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/kitchenrenov.webp">
                    <img decoding="async" loading="lazy" src="/assets/images/kitchenrenov.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>



<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1738">
    <div class="cs-container">
        <ul class="cs-card-group">

            <li class="cs-item">
                <a href="renovation/" class="cs-redirect">
                <span class="cs-number">15</span>
                <p class="cs-item-text">
                    <img class="cs-arrow" style="height: auto;" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9ECnYpBa4VDd&format=png&color=000000" alt="white arrow icon" width="50" height="50" aria-hidden="true">

                    Completed Basement Renovations Since 2020
                </p>
                <!-- <a href="renovation/" class="cs-link"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true">
                </a> -->
            </a>
            </li>
            <li class="cs-item">
                <a href="https://www.facebook.com/yeg.mpc/reviews" class="cs-redirect">
                <span class="cs-number">5.0 Star</span>
                <p class="cs-item-text">
                    ⭐⭐⭐<br>⭐⭐ <br>Reviews in Facebook            </p>
                <!-- <a href="https://www.facebook.com/yeg.mpc/reviews" class="cs-link"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true"> -->
                </a>
            </a>
            </li>
            <li class="cs-item">
                <a href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.3415156,-113.3602913,9z/data=!4m2!3m1!1s0x0:0x3e9a65105016fe79?sa=X&ved=1t:2428&ictx=111" class="cs-redirect">
                <span class="cs-number">5.0 Star</span>
                <p class="cs-item-text">
                    ⭐⭐⭐<br>⭐⭐<br> Reviews in Google                </p>
                <!-- <a href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.4984532,-113.5054173,9.66z/data=!4m8!3m7!1s0x6988ef8116c31817:0x3e9a65105016fe79!8m2!3d53.3415156!4d-113.3602913!9m1!1b1!16s%2Fg%2F11kqbxgl6z!5m1!1e1?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" class="cs-link red"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true"> -->
                </a>
            </a>
            </li>
        </ul>
    </div>
</section>




<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Financing Available </span> for Home Renovation and Plumbing & Heating Installation Projects.</h2>
            <p class="cs-text">
                Secure financing from $2,000 up to $100,000 for installations and renovations.            </p>
            <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid">Learn More</a>



        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/gal7.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gal7.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal7.webp" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>

        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section class="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

      </section>



<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1729">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We Got What You Need</h2>
            </div>
            <p class="cs-text">
                We provide comprehensive solutions for plumbing, heating, renovation, and gas fitting, ensuring your home operates smoothly and safely. Our expert team delivers reliable and efficient services to enhance your comfort and property value.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/plumbingtile.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/plumbingtile.webp">
                    <img decoding="async"
                            src="/assets/images/plumbingtile.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Plumbing</h3>
                    <p class="cs-item-text">
                        A good plumbing system is crucial for maintaining a clean and healthy living environment by preventing leaks, water damage, and costly repairs. It ensures reliable access to clean water and efficient waste removal, contributing to the overall safety and comfort of your home.                    </p>
                    <a href="plumbing-and-heating/" aria-label="Learn More about plumbing and heating services" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/heatingtile.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/heatingtile.webp">
                    <img decoding="async"
                            src="/assets/images/heatingtile.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Heating</h3>
                    <p class="cs-item-text">
                        Having a good heating system at home is essential for maintaining a comfortable and healthy living environment, especially during cold weather. It ensures consistent warmth, reduces energy costs, and prevents issues like frozen pipes or dampness.       </p>
                    <a href="plumbing-and-heating/" aria-label="Learn More about plumbing and heating services" class="cs-link">
                        Learn More

                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/GASFITTINGHERO.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/GASFITTINGHERO.webp">
                    <img decoding="async"
                            src="/assets/images/GASFITTINGHERO.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Gasfitting</h3>
                    <p class="cs-item-text">
                        Proper gas fitting is vital for ensuring the safe and efficient use of gas appliances, minimizing the risk of leaks or explosions. It also ensures compliance with safety regulations, protecting both your home and its occupants.                    </p>
                    <a href="plumbing-and-heating/" aria-label="Learn More about plumbing and heating services" class="cs-link">
                       Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/kitchenrenov.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/kitchenrenov.webp">
                    <img decoding="async"
                            src="/assets/images/kitchenrenov.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Renovation</h3>
                    <p class="cs-item-text">
                        Renovation is important for enhancing the functionality and aesthetics of your home, increasing its value and comfort. It allows you to modernize outdated spaces, address structural issues, and adapt your home to changing needs.                    </p>
                    <a href="renovation/" aria-label="Learn More  about renovation" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>

            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/fence/deck-fence-bg.avif">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/fence/deck-fence-bg.avif">
                    <img decoding="async"
                            src="/assets/images/fence/deck-fence-bg.avif"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>

                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Fence &amp; Deck</h3>
                    <p class="cs-item-text">
Transform your outdoor living space with our expert deck and fence installation services.
Our team is committed to delivering high-quality craftsmanship that brings comfort, beauty, and value to your home.
                    </p>

                    <a href="fence-deck-installation/" aria-label="Learn More about fence and deck installation" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>







<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section class="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

      </section>




<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Client Feedbacks & Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">

                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/reviews3.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Reliable, fast action, and knowledgeable specially in these extreme cold weather.highly recommended and thank you.
                     <div class="cs-flex">
                    <span class="cs-name">Zio Gualberto</span>
                    <span class="cs-desc">6 months ago</span>
                    ⭐⭐⭐⭐⭐


                </div>
            </li>
            <li class="cs-item">


                <img class="cs-image" src="/assets/images/user.jpg" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    My water heater broke and MPC came quick. The specific parts for my tank were really hard to find but the very next day they came with that parts and fixed it quick. Professional, reasonable service fee and quick service. Thank you! Maraming salamat po.                <div class="cs-flex">
                    <span class="cs-name">Lester Tiangsing</span>
                    <span class="cs-desc">May 25, 2023</span>
                    ⭐⭐⭐⭐⭐

                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="/assets/images/user2.jpg"alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Highly recommended! 👌 done with sump pump replacement & kitchen sink repair service with MPC Ltd. 👍 Great service from my kababayan Raymond! 10 out of 10 will do it again 😉                <div class="cs-flex">
                    <span class="cs-name">Marivic Peralta - Añover</span>
                    <span class="cs-desc">August 5, 2020</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
        </ul>
        <a target="_blank" href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.4633179,-113.6871153,10.3z/data=!4m8!3m7!1s0x6988ef8116c31817:0x3e9a65105016fe79!8m2!3d53.3415156!4d-113.3602913!9m1!1b1!16s%2Fg%2F11kqbxgl6z?hl=en&entry=ttu" class="cs-button-5">
            <span class="cs-button-text">Read More</span>
        </a>
    </div>
</section>


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section class="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

      </section>






<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-851">
    <div class="cs-container">
        <div class="cs-content"><br><br><br>
            <h2 class="cs-title"> <span class="cs-color">Montano Plumbing & Contracting LTD.</span></h2><br>

            <h3>MPC delivers exceptional renovation and plumbing services for residential and commercial clients. We pride ourselves on exceeding expectations with our reliable, professional approach, ensuring every project is completed to the highest standards.
<br><br>
                Trust MPC for quality service and lasting peace of mind.
                <br><br>

                Licensed and Insured</h3>




        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/mpclogo1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/mpclogo1.png">
                <img decoding="async" loading="lazy" src="/assets/images/mpclogo1.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>




<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section class="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

      </section>




<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1209">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Why Choose MPC?</h2>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <p class="cs-item-text">
                    Montano Plumbing & Contracting LTD is your go-to expert for plumbing, gas fitting, and renovations in Edmonton and the surrounding areas.                 </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <p class="cs-item-text">
                    Our skilled team is committed to delivering top-quality service and exceptional craftsmanship on every project. From repairs to installations, we handle all your residential plumbing needs with precision and care.                 </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <p class="cs-item-text">
                    Choose MPC for reliable, expert service that ensures your home improvement projects are done right the first time.                </p>
            </li>
        </ul>
    </div>
</section>








<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section class="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>

          </ul>

</section>


    {% include 'components/cta.html' %}
{% endblock %}
